@import url("./styles/core/base.css");
@import url("./styles/core/layout.css");
@import url("./styles/pages/player-detail.css");
@import url("./styles/pages/team-detail.css");
@import url("./styles/pages/game-detail.css");
@import url("./styles/pages/games.css");
@import url("./styles/pages/leaders.css");
@import url("./styles/pages/compare.css");
@import url("./styles/responsive/common.css");
@import url("./styles/components/charts.css");
@import url("./styles/components/highlights.css");
@import url("./styles/components/search.css");
@import url("./styles/pages/main-prediction.css");
@import url("./styles/pages/schedule.css");
@import url("./styles/pages/predict.css");
@import url("./styles/skeleton.css");
